# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next/
out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# Miscellaneous
*.tgz
*.tar.gz
.cache
.vercel
.turbo

# Testing
jest.config.js
**/*.test.js
**/*.test.ts
**/*.spec.js
**/*.spec.ts

# Documentation
README.md
*.md